StringStreamServeiceSolution/StringStreamService.Consumer/Service References/StringStreamServiceNS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StringStreamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStringStreamService_BeginStream_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginStream" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_BeginStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_PutStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:PutStreamData" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_PutStreamData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutStreamDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_GetSortedStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedStream" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_GetSortedStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_EndStream_InputMessage">
    <wsdl:part name="parameters" element="tns:EndStream" />
  </wsdl:message>
  <wsdl:message name="IStringStreamService_EndStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IStringStreamService">
    <wsdl:operation name="BeginStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringStreamService/BeginStream" message="tns:IStringStreamService_BeginStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringStreamService/BeginStreamResponse" message="tns:IStringStreamService_BeginStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutStreamData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringStreamService/PutStreamData" message="tns:IStringStreamService_PutStreamData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringStreamService/PutStreamDataResponse" message="tns:IStringStreamService_PutStreamData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSortedStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringStreamService/GetSortedStream" message="tns:IStringStreamService_GetSortedStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringStreamService/GetSortedStreamResponse" message="tns:IStringStreamService_GetSortedStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringStreamService/EndStream" message="tns:IStringStreamService_EndStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringStreamService/EndStreamResponse" message="tns:IStringStreamService_EndStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStringStreamService" type="tns:IStringStreamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginStream">
      <soap:operation soapAction="http://tempuri.org/IStringStreamService/BeginStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutStreamData">
      <soap:operation soapAction="http://tempuri.org/IStringStreamService/PutStreamData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedStream">
      <soap:operation soapAction="http://tempuri.org/IStringStreamService/GetSortedStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndStream">
      <soap:operation soapAction="http://tempuri.org/IStringStreamService/EndStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringStreamService">
    <wsdl:port name="BasicHttpBinding_IStringStreamService" binding="tns:BasicHttpBinding_IStringStreamService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StringStreamService.Service/StringStreamService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>